<section>
  <dialog ref="Dialogs" v-for="dialog in Dialogs" @close="dialog.CloseModal && dialog.CloseModal()" class="dialog" :type="dialog.Type?.Icon" :key="dialog.Id" v-show="dialog.Id === MaxId" :id="`dlg${dialog.Id}`">
    <i @click.prevent="Close(dialog)" class="material-icons clickable close" v-if="!dialog.HideCloseButton">close</i>
    <section class="content">
      <section class="title">
        <i class="material-icons type" v-text="dialog.Icon"></i>
        <section class="message">
          <p v-text="dialog.Message"></p>
          <slot name="description"></slot>
        </section>
      </section>
      <form :id="`dlgForm${dialog.Id}`" @submit.prevent="Close(dialog, dialog.Inputs.length > 0 ? dialog.Inputs : dialog.Buttons[0], $event)">
        <label v-for="(input, index) in dialog.Inputs" :key="input.Name">
          <span v-text="input.Name"></span>
          <input :type="input.Type" v-if="!['select'].includes(input.Type)" :required="input.Required" :name="input.Name" @input="$event.target.setCustomValidity('')" :disabled="input.Disabled" v-model="input.Value" :autofocus="input.Autofocus">
          <select v-else-if="input.Type === 'select'" :required="input.Required" :name="input.Name" @change="$event.target.setCustomValidity('')" :disabled="input.Disabled" v-model="input.Value" :autofocus="input.Autofocus">
            <option v-for="option in input.Options" :value="option.Value" :key="option.Value" v-text="option.Description"></option>
          </select>
        </label>
        <slot name="form"></slot>
      </form>
    </section>
    <section class="buttons">
      <button :type="index > 0 && 'button'" v-for="(button, index) in dialog.Buttons" :form="index === 0 && `dlgForm${dialog.Id}`" @click="index > 0 && CloseDialogByButton($event, dialog)" v-text="button"></button>
    </section>
  </dialog>
</section>