@font-face {
  font-display: swap;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"),
    local("MaterialIcons-Regular"),
    url(/fonts/MaterialIcons-Regular.woff2) format("woff2"),
    url(/fonts/MaterialIcons-Regular.woff) format("woff"),
    url(/fonts/MaterialIcons-Regular.ttf) format("truetype");
}
* {
  transition: opacity 0.5s;
}
:root {
  --main-bg-color: #1e1e1e;
  --main-fg-color: #d4d4d4;
}
body, dialog {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  font-family: sans-serif;
}
dialog {
  border-color: #7c7c7c;
}
dialog:not([type])::backdrop {
  background: rgba(0, 0, 0, .65);
}
dialog .close {
  position: absolute;
  right: 10px;
  top: 10px;
}
button, .clickable:not(:disabled), input[type=checkbox]:not(:disabled) {
  cursor: pointer;
}
.dialog[type=check_circle]::backdrop, .dialog[type=question_mark]::backdrop {
  background: rgba(53, 84, 68, .65);
}
.dialog[type=error]::backdrop {
  background: rgba(147, 34, 0, .65);
}
.dialog[type=info]::backdrop, .dialog[type=loop]::backdrop {
  background: rgba(65, 70, 102, .65);
}
.dialog[type=warning]::backdrop {
  background: rgba(93, 102, 65, .65);
}
.dialog button {
  font-size: large;
  padding: 0 20px;
  margin: 0;
}
.dialog button:focus {
  box-shadow: 0 0 15px 1px #519bfc;
  outline: none;
}
.dialog .buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}
.dialog .buttons button:not(:first-of-type) {
  margin-left: 20px;
}
.dialog .content {
  font-size: large;
  margin-right: 25px;
  max-height: calc(100vh - 120px);
  min-height: 60px;
  overflow-y: auto;
}
.dialog .content form {
  margin: 0 20px 5px 0;
  padding: 5px;
}
.dialog .content form input, .dialog .content form select {
  font-size: large;
  padding: 5px;
}
.dialog .content .title {
  display: flex;
}
.dialog .content .title .message {
  padding: 5px 0 0 5px;
}
.dialog .content .title .message p {
  font-weight: bold;
  margin: 0 0 10px;
  white-space: break-spaces;
  width: 100%;
}
.dialog .type {
  font-size: xxx-large;
  height: fit-content;
}
.dialog[type=check_circle] .type, .dialog[type=question_mark] .type {
  color: chartreuse;
}
.dialog[type=error] .type {
  color: coral;
}
.dialog[type=info] .type, .dialog[type=loop] .type {
  color: cornflowerblue;
}
.dialog[type=loop] .type {
  animation: rotating 2s linear infinite;
}
.dialog[type=warning] .type {
  color: olive;
}
.dialog[open] {
  max-width: 90vw;
  min-width: min(300px, 100vw);
  box-sizing: border-box;
}
.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@keyframes rotating {
  from {
    transform: rotate(0deg) scaleX(-1);
  }
  to {
    transform: rotate(360deg) scaleX(-1);
  }
}
@media (prefers-color-scheme: light) {
  html, dialog {
    filter: invert(1) hue-rotate(180deg);
  }
}